In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key
import os

In [2]:
city_data_path = os.path.join('weather_data','cities.csv')
city_data_df = pd.read_csv(city_data_path)
city_data_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-01-28 20:34:53,-21.2078,-159.7750,84.20,70,20,14.97
1,1,Dikson,RU,2021-01-28 20:34:53,73.5069,80.5464,-32.22,79,65,4.54
2,2,Lavrentiya,RU,2021-01-28 20:34:53,65.5833,-171.0000,-8.97,84,100,12.82
3,3,Qaanaaq,GL,2021-01-28 20:34:53,77.4840,-69.3632,-12.15,67,0,9.17
4,4,Arraial Do Cabo,BR,2021-01-28 20:33:46,-22.9661,-42.0278,87.80,57,0,20.71

In [3]:
city_data_df.max()

Unnamed: 0                    553
City                       Zlobin
Date          2021-01-28 20:36:33
Lat                       78.2186
Long                      179.317
Max Temp                     95.4
Humidity                      100
Cloudiness                    100
Wind Speed                  36.64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Long']]

# 2. Assign Weights variable to some values
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp = temps

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the headmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the headtmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[['Lat','Long']]

max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp = temps

fig = gmaps.figure(center = (30,31), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[['Lat','Long']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[['Lat','Long']]
cloudiness = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat','Long']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=100, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
24,24,New Norfolk,AU,2021-01-28 20:34:57,-42.7826,147.0587,59.00,58,94,4.00
26,26,Esperance,AU,2021-01-28 20:33:46,-33.8667,121.9000,57.20,88,6,4.61
45,45,Launceston,AU,2021-01-28 20:31:14,-41.4500,147.1667,57.99,71,90,8.05
53,53,Hermanus,ZA,2021-01-28 20:33:52,-34.4187,19.2345,59.00,86,22,5.66

In [12]:
preferred_cities_df.count()

Unnamed: 0    62
City          62
Country       62
Date          62
Lat           62
Long          62
Max Temp      62
Humidity      62
Cloudiness    62
Wind Speed    62
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

Unnamed: 0    0
City          0
Country       0
Date          0
Lat           0
Long          0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.loc[preferred_cities_df['Country'] == '']

Empty DataFrame
Columns: [Unnamed: 0, City, Country, Date, Lat, Long, Max Temp, Humidity, Cloudiness, Wind Speed]
Index: []

In [15]:
preferred_cities_df[preferred_cities_df['Country'] == 0]

Empty DataFrame
Columns: [Unnamed: 0, City, Country, Date, Lat, Long, Max Temp, Humidity, Cloudiness, Wind Speed]
Index: []

In [16]:
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
24,24,New Norfolk,AU,2021-01-28 20:34:57,-42.7826,147.0587,59.00,58,94,4.00
26,26,Esperance,AU,2021-01-28 20:33:46,-33.8667,121.9000,57.20,88,6,4.61
45,45,Launceston,AU,2021-01-28 20:31:14,-41.4500,147.1667,57.99,71,90,8.05
53,53,Hermanus,ZA,2021-01-28 20:33:52,-34.4187,19.2345,59.00,86,22,5.66

In [17]:
preferred_cities_df = preferred_cities_df.dropna()

In [18]:
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
24,24,New Norfolk,AU,2021-01-28 20:34:57,-42.7826,147.0587,59.00,58,94,4.00
26,26,Esperance,AU,2021-01-28 20:33:46,-33.8667,121.9000,57.20,88,6,4.61
45,45,Launceston,AU,2021-01-28 20:31:14,-41.4500,147.1667,57.99,71,90,8.05
53,53,Hermanus,ZA,2021-01-28 20:33:52,-34.4187,19.2345,59.00,86,22,5.66

In [19]:
# hotels_df = preferred_cities_df.copy()
hotels_df = preferred_cities_df[['City','Country','Max Temp','Lat','Long']].copy()
hotels_df['Hotel Name'] = ''
hotels_df.head()

           City Country  Max Temp      Lat      Long Hotel Name
17        Asyut      EG     50.00  27.1810   31.1837
24  New Norfolk      AU     59.00 -42.7826  147.0587
26    Esperance      AU     57.20 -33.8667  121.9000
45   Launceston      AU     57.99 -41.4500  147.1667
53     Hermanus      ZA     59.00 -34.4187   19.2345

In [20]:
params = {
    'radius':5000,
    'type': 'lodging',
    'key':g_key}

In [21]:
for index, row in hotels_df.iterrows():
    lat = row['Lat']
    long = row['Long']
    params['location'] = f"{lat},{long}"
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    hotels = requests.get(base_url, params=params).json()

    try:
        hotels_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError as ie:
        hotels_df.loc[index, "Hotel Name"] = None

In [22]:
hotels_df = hotels_df.dropna()

In [23]:
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt>
<dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} F</dd>
</dl>
"""

In [24]:
hotels_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

In [25]:
locations = hotels_df[['Lat','Long']]
max_temps = hotels_df['Max Temp']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temps, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotels_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))