In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key
import os

In [2]:
city_data_path = os.path.join('weather_data','cities.csv')
city_data_df = pd.read_csv(city_data_path)
city_data_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-01-28 20:34:53,-21.2078,-159.7750,84.20,70,20,14.97
1,1,Dikson,RU,2021-01-28 20:34:53,73.5069,80.5464,-32.22,79,65,4.54
2,2,Lavrentiya,RU,2021-01-28 20:34:53,65.5833,-171.0000,-8.97,84,100,12.82
3,3,Qaanaaq,GL,2021-01-28 20:34:53,77.4840,-69.3632,-12.15,67,0,9.17
4,4,Arraial Do Cabo,BR,2021-01-28 20:33:46,-22.9661,-42.0278,87.80,57,0,20.71

In [18]:
city_data_df.max()

Unnamed: 0                    553
City                       Zlobin
Date          2021-01-28 20:36:33
Lat                       78.2186
Long                      179.317
Max Temp                     95.4
Humidity                      100
Cloudiness                    100
Wind Speed                  36.64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat','Long']]

# 2. Assign Weights variable to some values
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp = temps

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the headmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the headtmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
locations = city_data_df[['Lat','Long']]

max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp = temps

fig = gmaps.figure(center = (30,31), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
locations = city_data_df[['Lat','Long']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
locations = city_data_df[['Lat','Long']]
cloudiness = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
locations = city_data_df[['Lat','Long']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=100, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [88]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Liku,ID,2021-01-28 20:34:54,-0.7275,119.8922,74.68,89,100,3.94
11,11,Mawlaik,MM,2021-01-28 20:34:55,23.6333,94.4167,60.12,74,0,1.72
16,16,Broken Hill,AU,2021-01-28 20:34:07,-31.9500,141.4333,73.40,88,40,10.36
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
18,18,Vila Franca Do Campo,PT,2021-01-28 20:34:56,37.7167,-25.4333,63.00,94,75,19.57

In [89]:
preferred_cities_df.count()

Unnamed: 0    166
City          166
Country       165
Date          166
Lat           166
Long          166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [90]:
preferred_cities_df.isnull().sum()

Unnamed: 0    0
City          0
Country       1
Date          0
Lat           0
Long          0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [91]:
preferred_cities_df.loc[preferred_cities_df['Country'] == '']

Empty DataFrame
Columns: [Unnamed: 0, City, Country, Date, Lat, Long, Max Temp, Humidity, Cloudiness, Wind Speed]
Index: []

In [92]:
preferred_cities_df[preferred_cities_df['Country'] == 0]

Empty DataFrame
Columns: [Unnamed: 0, City, Country, Date, Lat, Long, Max Temp, Humidity, Cloudiness, Wind Speed]
Index: []

In [93]:
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Liku,ID,2021-01-28 20:34:54,-0.7275,119.8922,74.68,89,100,3.94
11,11,Mawlaik,MM,2021-01-28 20:34:55,23.6333,94.4167,60.12,74,0,1.72
16,16,Broken Hill,AU,2021-01-28 20:34:07,-31.9500,141.4333,73.40,88,40,10.36
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
18,18,Vila Franca Do Campo,PT,2021-01-28 20:34:56,37.7167,-25.4333,63.00,94,75,19.57

In [94]:
preferred_cities_df = preferred_cities_df.dropna()

In [95]:
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Liku,ID,2021-01-28 20:34:54,-0.7275,119.8922,74.68,89,100,3.94
11,11,Mawlaik,MM,2021-01-28 20:34:55,23.6333,94.4167,60.12,74,0,1.72
16,16,Broken Hill,AU,2021-01-28 20:34:07,-31.9500,141.4333,73.40,88,40,10.36
17,17,Asyut,EG,2021-01-28 20:34:56,27.1810,31.1837,50.00,66,0,6.91
18,18,Vila Franca Do Campo,PT,2021-01-28 20:34:56,37.7167,-25.4333,63.00,94,75,19.57

In [96]:
# hotels_df = preferred_cities_df.copy()
hotels_df = preferred_cities_df[['City','Country','Max Temp','Lat','Long']].copy()
hotels_df['Hotel Name'] = ''
hotels_df.head()

                    City Country  Max Temp      Lat      Long Hotel Name
8                   Liku      ID     74.68  -0.7275  119.8922
11               Mawlaik      MM     60.12  23.6333   94.4167
16           Broken Hill      AU     73.40 -31.9500  141.4333
17                 Asyut      EG     50.00  27.1810   31.1837
18  Vila Franca Do Campo      PT     63.00  37.7167  -25.4333

KeyError: "None of [Index(['City', 'Country', 'Max Temp', 'Lat', 'Long'], dtype='object')] are in the [index]"