In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy
from config import weather_api_key

In [22]:
lats = np.random.uniform(-90,90,1500)
longs = np.random.uniform(-180,180,1500)
lat_lngs = zip(lats,longs)
lat_lngs

In [23]:
coordinates = list(lat_lngs)

In [24]:
city = citipy.nearest_city(36.154, -95.993)
city.city_name

'tulsa'

In [25]:
cities = []
for coordinate in coordinates:
    # find nearest city
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # if city is unique, add to list of cities
    if city not in cities:
        cities.append(city)
print(len(cities))

626

In [26]:
import requests
from datetime import datetime

In [27]:
# Define base url
url = 'http://api.openweathermap.org/data/2.5/weather?q='
# Create empty list to hold the weather data
city_data = []

# Print the beginning of logging
print("Beginning Data Retreival         ")
print("---------------------------------")

# Create counters for cities and log sets
record_count = 1
set_count = 1
cities_found = 0
cities_not_found = 0

# Loop through all the cities in our list
for i in range(0,len(cities)):

    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1

    # Create endpoint URL with each city
    city = cities[i]
    city_url = url + city.replace(" ","+") + '&units=Imperial&APPID=' + weather_api_key

    # Log the URL, record, and set numbers, and the city
#     print(f'Processing Record {record_count} of Set {set_count}: {cities[i]}')

    record_count += 1

    try:
        city_weather = requests.get(city_url).json()
        city_lat = city_weather['coord']['lat']
        city_long = city_weather['coord']['lon']
        city_max_temp = city_weather["main"]['temp_max']
        city_humidity = city_weather['main']['humidity']
        city_clouds = city_weather['clouds']['all']
        city_wind = city_weather['wind']['speed']
        city_country = city_weather['sys']['country']
        city_date = datetime.utcfromtimestamp(city_weather['dt']).strftime('%Y-%m-%d %H:%M:%S')
        city_data.append({'City': city.title(),
                            'Lat': city_lat,
                            'Long': city_long,
                            'Max Temp': city_max_temp,
                            'Humidity': city_humidity,
                            'Cloudiness': city_clouds,
                            'Wind Speed': city_wind,
                            'Country': city_country,
                            'Date': city_date})
        cities_found += 1
    except:
#         print('City not found. Skipping...')
        cities_not_found += 1
        continue
print(cities_found, cities_not_found)
# city = cities[i]
# city_url = url + '&q=' + city.replace(" ","+")
# r = requests.get(city_url)
# print(r)

Beginning Data Retreival
---------------------------------
580 46

In [28]:
len(city_data)

580

In [29]:
city_data[1]

{'City': 'Trairi',
 'Lat': -3.2778,
 'Long': -39.2689,
 'Max Temp': 84.49,
 'Humidity': 63,
 'Cloudiness': 66,
 'Wind Speed': 10.8,
 'Country': 'BR',
 'Date': '2021-01-27 12:21:32'}

In [30]:
city_weather_df = pd.DataFrame(city_data)

In [31]:
city_weather_df.head(10)

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Grindavik,63.8424,-22.4338,30.20,55,90,26.46,IS,2021-01-27 12:21:32
1,Trairi,-3.2778,-39.2689,84.49,63,66,10.80,BR,2021-01-27 12:21:32
2,Kencong,-8.2833,113.3667,76.98,85,93,3.36,ID,2021-01-27 12:21:33
3,Sokyryany,48.4475,27.4168,32.00,80,100,8.01,UA,2021-01-27 12:21:27
4,Cherskiy,68.7500,161.3000,-26.61,83,100,2.46,RU,2021-01-27 12:21:33
5,Bluff,-46.6000,168.3333,54.00,86,16,18.01,NZ,2021-01-27 12:21:33
6,Rikitea,-23.1203,-134.9692,79.29,74,19,14.99,PF,2021-01-27 12:21:33
7,Mar Del Plata,-38.0023,-57.5575,68.00,68,20,16.11,AR,2021-01-27 12:21:34
8,La Ronge,55.1001,-105.2842,-14.80,76,98,4.61,CA,2021-01-27 12:21:34
9,Khatanga,71.9667,102.5000,-28.14,80,12,9.37,RU,2021-01-27 12:21:34

In [32]:
column_order = ['City','Country','Date','Lat','Long','Max Temp','Humidity','Cloudiness','Wind Speed']
city_weather_df = city_weather_df[column_order]
city_weather_df.tail(10)

,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
570,Wajima,JP,2021-01-27 12:23:21,37.4000,136.9000,40.77,68,32,15.01
571,Nam Phong,TH,2021-01-27 12:23:21,16.7023,102.8557,82.00,57,40,1.14
572,Tapes,BR,2021-01-27 12:23:21,-30.6733,-51.3958,78.33,81,99,11.56
573,Glendive,US,2021-01-27 12:23:21,47.1053,-104.7125,10.00,92,90,4.61
574,Suzdal,RU,2021-01-27 12:23:21,56.4281,40.4414,31.51,96,96,10.85
575,Talcahuano,CL,2021-01-27 12:23:22,-36.7167,-73.1167,57.20,72,0,16.11
576,Raduzhnyy,RU,2021-01-27 12:21:11,62.0961,77.4750,-32.22,82,8,7.52
577,Bilecik,TR,2021-01-27 12:23:22,40.0000,30.1667,50.00,62,40,18.41
578,Surt,LY,2021-01-27 12:23:22,31.2089,16.5887,58.60,53,38,16.69
579,Khudumelapye,BW,2021-01-27 12:23:22,-23.8833,24.7500,83.50,51,94,11.74

In [33]:
city_weather_df.loc[city_weather_df['Country'] == 'US'].sort_values(by='City')

,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
44,Ahuimanu,US,2021-01-27 12:21:41,21.4447,-157.8378,75.20,73,90,10.36
33,Albany,US,2021-01-27 12:21:39,42.6001,-73.9662,28.00,81,100,2.91
210,Atchison,US,2021-01-27 12:22:13,39.5630,-95.1216,21.00,91,100,8.03
192,Barrow,US,2021-01-27 12:20:07,71.2906,-156.7887,-11.20,77,90,6.91
180,Bethel,US,2021-01-27 12:22:07,41.3712,-73.4140,28.99,93,75,3.56
52,Broome,US,2021-01-27 12:21:43,42.2506,-75.8330,26.01,80,90,14.97
498,Bud,US,2021-01-27 12:23:09,39.4470,-86.1758,28.99,80,90,10.36
486,College,US,2021-01-27 12:19:04,64.8569,-147.8028,-23.80,76,1,2.59
454,Collierville,US,2021-01-27 12:18:25,35.0420,-89.6645,42.01,87,75,6.91
534,Denton,US,2021-01-27 12:23:15,33.2001,-97.1336,36.00,80,1,9.22
204,Dillon,US,2021-01-27 12:22:12,34.4166,-79.3712,54.00,100,90,5.75
107,Douglas,US,2021-01-27 12:21:53,41.3000,-96.1670,16.00,85,90,6.91
322,Fairbanks,US,2021-01-27 12:22:01,64.8378,-147.7164,-23.80,76,1,2.42
464,Fallon,US,2021-01-27 12:23:03,39.4735,-118.7774,35.60,55,90,25.32
404,Fortuna,US,2021-01-27 12:22:52,40.5982,-124.1573,43.00,93,90,20.71
573,Glendive,US,2021-01-27 12:23:21,47.1053,-104.7125,10.00,92,90,4.61
316,Green Valley,US,2021-01-27 12:22:35,31.8543,-110.9937,35.60,69,1,9.22
514,Half Moon Bay,US,2021-01-27 12:23:12,37.4636,-122.4286,52.00,93,90,5.75
226,Hamilton,US,2021-01-27 12:22:16,39.1834,-84.5333,32.00,80,90,9.22
217,Havelock,US,2021-01-27 12:22:14,34.8791,-76.9013,53.01,100,75,5.75
222,Haysville,US,2021-01-27 12:17:38,37.5645,-97.3523,26.01,80,90,10.36
183,Hilo,US,2021-01-27 12:22:08,19.7297,-155.0900,68.00,88,90,8.05
286,Isla Vista,US,2021-01-27 12:22:29,34.4133,-119.8610,50.00,71,90,13.80
109,Jamestown,US,2021-01-27 12:21:54,42.0970,-79.2353,25.00,100,90,8.52
552,Jasper,US,2021-01-27 12:20:45,37.2001,-94.3502,28.40,93,90,8.05
447,Juneau,US,2021-01-27 12:23:00,58.3019,-134.4197,21.20,38,20,4.61
511,Kahului,US,2021-01-27 12:23:11,20.8947,-156.4700,71.60,78,1,12.66
104,Kapaa,US,2021-01-27 12:21:52,22.0752,-159.3190,73.99,88,20,17.27
238,Ketchikan,US,2021-01-27 12:22:18,55.3422,-131.6461,23.00,93,1,4.61
50,Kodiak,US,2021-01-27 12:21:42,57.7900,-152.4072,28.40,74,1,3.44
389,Lakeway,US,2021-01-27 12:20:27,30.3638,-97.9796,48.00,70,75,5.75
495,Lindsay,US,2021-01-27 12:19:51,36.2030,-119.0882,46.99,76,90,6.91
173,Lompoc,US,2021-01-27 12:17:28,34.6391,-120.4579,50.00,87,90,13.80
207,Mayo,US,2021-01-27 12:22:13,38.8876,-76.5119,39.99,93,90,6.91
195,Nantucket,US,2021-01-27 12:17:57,41.2835,-70.0995,35.01,100,90,5.75
43,Nome,US,2021-01-27 12:21:41,64.5011,-165.4064,6.80,85,90,9.22
554,Ocala,US,2021-01-27 12:22:22,29.1872,-82.1401,59.00,100,75,5.01
381,Pacific Grove,US,2021-01-27 12:21:06,36.6177,-121.9166,51.80,87,90,10.36
201,Palmer,US,2021-01-27 12:19:03,42.1584,-72.3287,28.00,94,98,3.60
558,Parsons,US,2021-01-27 12:23:19,37.3403,-95.2611,28.40,86,90,6.91
320,Payson,US,2021-01-27 12:22:36,40.0444,-111.7321,24.80,74,20,12.66
450,Portland,US,2021-01-27 12:20:25,45.5234,-122.6762,37.99,93,90,3.51
446,Powell,US,2021-01-27 12:23:00,40.1578,-83.0752,30.99,86,90,6.91
405,Rincon,US,2021-01-27 12:22:52,32.2960,-81.2354,60.80,82,90,19.57
501,Saint Anthony,US,2021-01-27 12:23:10,45.0205,-93.2180,10.40,56,90,6.91
178,Saint George,US,2021-01-27 12:21:17,37.1041,-113.5841,36.00,64,90,6.91
465,Saint Joseph,US,2021-01-27 12:18:20,39.7686,-94.8466,21.00,93,90,8.05
473,San Jose,US,2021-01-27 12:23:04,37.3394,-121.8950,48.99,81,75,16.11
190,San Patricio,US,2021-01-27 12:22:09,28.0170,-97.5169,57.00,67,90,21.85
264,San Ramon,US,2021-01-27 12:18:15,37.7799,-121.9780,48.20,87,90,5.91
157,Shreveport,US,2021-01-27 12:20:32,32.5251,-93.7502,48.20,87,20,10.36
477,Sitka,US,2021-01-27 12:23:05,57.0531,-135.3300,26.60,43,1,9.17
137,Springdale,US,2021-01-27 12:19:17,36.1867,-94.1288,33.01,100,90,11.50
241,Staunton,US,2021-01-27 12:22:19,38.1496,-79.0717,37.40,80,1,5.08
462,Superior,US,2021-01-27 12:20:03,46.7208,-92.1041,-2.99,84,1,3.44
125,Tallahassee,US,2021-01-27 12:21:22,30.4383,-84.2807,69.80,100,90,11.50
346,Tarpon Springs,US,2021-01-27 12:22:41,28.1461,-82.7568,68.00,94,0,10.36
410,West Wendover,US,2021-01-27 12:22:53,40.7391,-114.0733,23.00,80,90,10.36
364,Westport,US,2021-01-27 12:22:44,41.1415,-73.3579,32.00,86,90,5.75
208,Worthington,US,2021-01-27 12:22:13,40.0931,-83.0180,30.99,86,90,6.91

In [34]:
city_weather_df.head()

,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,Grindavik,IS,2021-01-27 12:21:32,63.8424,-22.4338,30.20,55,90,26.46
1,Trairi,BR,2021-01-27 12:21:32,-3.2778,-39.2689,84.49,63,66,10.80
2,Kencong,ID,2021-01-27 12:21:33,-8.2833,113.3667,76.98,85,93,3.36
3,Sokyryany,UA,2021-01-27 12:21:27,48.4475,27.4168,32.00,80,100,8.01
4,Cherskiy,RU,2021-01-27 12:21:33,68.7500,161.3000,-26.61,83,100,2.46

In [35]:
output_data_file = 'weather_data/cities.csv'

In [36]:
city_weather_df.to_csv(output_data_file)